<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>


    <div class="btn" id = "change-text">人生と向き合う</div>

  <!-- 2つ目の<div>タグに、"change-html"というidをつけてください -->
    <div class="btn" id = "change-html">人生をチェンジ</div>
    <h1 id="text">人生を変えるためのチャンスをつかもう</h1>

  <!-- <script src="script.js"></script> -->
  <div id ="language-wrapper">
    <h1 class="language-title">人生を謳歌していますか?</h1>
    <p class="language-text">
      満足な人生を歩むために、何が必要か考えてみましょう。金か、友達か、スキルか、様々な資産がある中で、あなたの強みの資産、弱みの資産を堂々と言えることができますか?
    </p>
  </div>

  <!-- <script src="script.js"></script> -->




    <!-- <div class="message-wrapper">
        <ul class="faq-list">
            <li class="faq-list-item">
                <h3 class="question">毎日輝かしい人生にすることはできますか？</h3>
                <span>+</span>
                <div class="answer">できます。</div>
            </li>
            <li class="faq-list-item">
                <h3 class="question">過去を断ち切ることはできますか？</h3>
                <span>+</span>
                <div class="answer">できます。</div>
            </li>
            <li class="faq-list-item">
                <h3 class="question">夢を叶えられますか？</h3>
                <span>+</span>
                <div class="answer">できます。</div>
            </li>
        </ul>
    </div> -->

    <!-- <script src="script.js"></script> -->



</body>
</html>
